#intro{
    text-align: center;
    margin: auto;
    width: 60%;
    min-width: 600px; 
}

#intro h2{
    color: #fd473c;
    font-weight: bolder;
    margin-top: 0;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.row{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-height: 100px;
    max-height: 400px;
}

#current .project{
}

#experience .project{
}

#skills .project{
}

#misc .project{
}


.project{
    width: 95%;
    margin: auto;
    position: relative;
    text-align: center;
    -webkit-transition:  1s;
    -moz-transition:  1s;
    -o-transition:  1s;
    transition:  1s;
    flex: none;
}

.project img{
    width: 100%;
    border-radius: 5px;
}

.project h3{
    opacity: 0;
    top: 25%;
    bottom: 60%;
    left: 10%;
    right: 10%;
    position: absolute;
    z-index: 1;
    font-weight: 700;
    font-size: 2vw;
    color: #4b4b4b;
    margin: auto;
    -webkit-transition:  .75s;
    -moz-transition:  .75s;
    -o-transition:  .75s;
    transition:  .75s;

}

.project p{
    opacity: 0;
    font-size: 1.5vw;
    top: 45%;
    bottom: 20%;
    left: 10%;
    right: 10%;
    position: absolute;
    z-index: 1;
    color: #4b4b4b;
    -webkit-transition:  .75s;
    -moz-transition:  .75s;
    -o-transition:  .75s;
    transition:  .75s;
    
}

.project:hover h3{
    opacity: 1;
}

.project:hover p{
    opacity: 1;
}

.project:hover{
    background-color: aliceblue;
    border-radius: 5px;
}

.project:hover img{
    opacity: 0.1;
    
}